@model JeddahSnipers.ViewModels.DashboardIndexViewModel
@{
    ViewData["Title"] = "Jeddah Snipers";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.studentsCount</h3>

                        <p>المشتركين</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-person-add"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.coachesCount</h3>

                        <p>المدربين</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Model.groupsCount</h3>

                        <p>المجموعات</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-people"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-12 col-lg-6 connectedSortable">
             <div class="card">
              <div class="card-header">
                <h3 class="card-title">آخر الطلاب</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>الاسم</th>
                      <th>التصنيف</th>
                      <th style="width: 40px">الجنسية</th>
                      <th>العمر</th>
                    </tr>
                  </thead>
                  <tbody>

                      @foreach (var item in Model.LastStudents)
                      {
                          <tr>
                             <td>@item.StudentId</td>
                             <td>@item.StudentFirstName @item.StudentLastName</td>
                             <td>@item.CategoryName</td>
                              <td>@item.StudentNationality</td>
                              <td>@item.StudentAge</td>

                          </tr>
                      }  
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

            
             
           
            </section>
            <section class="col-12 col-lg-6 connectedSortable">
             <div class="card">
              <div class="card-header">
                <h3 class="card-title">المجموعات</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>الاسم</th>
                      <th>عدد الطلاب</th>
                      <th>الوقت</th>
                      <th>اسم المدرب</th>
                    </tr>
                  </thead>
                  <tbody>

                      @foreach (var item in Model.LastGroups)
                      {
                          <tr>
                             <td>@item.GroupId</td>
                             <td>@item.GroupName</td>
                             <td>@item.StudentsCount</td>
                              <td>From @item.StartTime To @item.EndTime</td>
                              <td>@item.CoachFirstName @item.CoachLastName</td>

                          </tr>
                      }  
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

            </section>
            <section class="col-12 col-lg-6 connectedSortable">
             <div class="card">
              <div class="card-header">
                <h3 class="card-title">اشتراكات متوقفة</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>رقم الهوية</th>
                      <th>التصنيف</th>
                      <th>الاسم</th>
                      <th>رقم الجوال</th>
                    </tr>
                  </thead>
                  <tbody>

                      @foreach (var item in Model.HoldAttendance)
                      {
                          <tr>
                             <td>@item.StudentId</td>
                             <td>@item.CategoryName</td>
                              <td>@item.StudentFirstName @item.StudentLastName</td>
                             <td>@item.StudentPhone</td>
                          </tr>
                      }  
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

            </section>
               <section class="col-12 col-lg-6 connectedSortable">
             <div class="card">
              <div class="card-header">
                <h3 class="card-title">اشتراكات منتهية</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>الاسم</th>
                      <th>المدة</th>
                      <th>انتهاء الاشتراك</th>
                      <th>المبلغ</th>
                    </tr>
                  </thead>
                  <tbody>

                      @foreach (var item in Model.ExpiredPayments)
                      {
                          <tr>
                             <td>@item.StudentName</td>
                             <td>@item.Duration</td>
                              <td>@item.EndDate</td>
                             <td>@item.Amount</td>
                          </tr>
                      }  
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

            </section>
        </div>
        <!-- /.row (main row) -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
